

.login-box {
    margin-top: 200px;
    height: 250px;
    box-shadow: None;
    transition: box-shadow 400ms;
}


.sections {
    margin-top: 6%;
}


.container {
    display: inline-block;
    text-align: center;
}